# Docker PostgreSQL credentials, read by compose.yaml. Set a local password before starting Compose.
POSTGRES_USER=app
POSTGRES_PASSWORD=
POSTGRES_PORT=5433
# Created by docker/postgres/01-create-database.sh on first volume initialization.
DATABASE_NAME=nest_starter
